[client]
port = 3306
#socket = /tmp/mysql.sock
default-character-set=utf8
[mysql]
default_character_set = utf8
[mysqld]
sql_mode=""
character-set-server=utf8
innodb_buffer_pool_size = 10M
#character-set-server = utf8mb4
#loose-mecab-rc-file=/usr/local/mysql/lib/mecab/etc/mecabrc
#innodb_ft_min_token_size=1
#ngram_token_size=2
